@page "/theses/{ThesisGuid}"

@using Microsoft.AspNetCore.Identity
@using PhDManager.Data
@using PhDManager.Models
@using PhDManager.Services
@using PhDManager.Services.IRepositories
@using System.Net.Mime

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject IUnitOfWork UnitOfWork
@inject IDialogService DialogService
@inject UserManager<ApplicationUser> UserManager
@inject UsersService UsersService
@inject NavigationManager NavigationManager
@inject DocumentService DocumentService

<PageTitle>Thesis</PageTitle>

@if (_thesis is not null)
{
    <AuthorizeView Roles="Admin, Učiteľ">
        <Authorized>
            <MudStack Row Justify="Justify.Center">
                <MudIconButton Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" OnClick="@(async () => await DeleteThesis(_thesis))" />
                <MudIconButton Color="Color.Info" Icon="@Icons.Material.Outlined.Edit" Href="@($"/theses/edit/{_thesis.Guid}")" />
                <MudIconButton Color="Color.Info" Icon="@Icons.Material.Outlined.Print" OnClick="@(async () => await DocumentService.DownloadThesisDocument(_thesis))" />
            </MudStack>
        </Authorized>
    </AuthorizeView>
    <MudText Align="Align.Center" Typo="Typo.h4">@_thesis.Title</MudText>
    <MudStack Spacing="5">
        @if (_thesis.TitleEnglish is not null)
        {
            <MudStack>
                <MudText Typo="Typo.h6">Title of the dissertation thesis</MudText>
                <MudText Typo="Typo.body1">@_thesis.TitleEnglish</MudText>
            </MudStack>
        }
        <MudStack>
            <MudText Typo="Typo.h6">Školiteľ</MudText>
            <MudText Typo="Typo.body1">@_thesis.Supervisor.DisplayName</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Študijný program</MudText>
            <MudText Typo="Typo.body1">@_thesis.StudyProgram.Name</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Študijný odbor</MudText>
            <MudText Typo="Typo.body1">@_thesis.StudyProgram.StudyFieldName</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Detailnejší opis problému</MudText>
            <MudText Typo="Typo.body1" Class="break-lines">@_thesis.Description</MudText>
        </MudStack>
        @if (_thesis.DescriptionEnglish is not null)
        {
            <MudStack>
                <MudText Typo="Typo.h6">Detailed description of the problem</MudText>
                <MudText Typo="Typo.body1" Class="break-lines">@_thesis.DescriptionEnglish</MudText>
            </MudStack>
        }
        <MudStack>
            <MudText Typo="Typo.h6">Predpokladaný vedecký prínos</MudText>
            <MudText Typo="Typo.body1" Class="break-lines">@_thesis.ScientificContribution</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Odporučány postup vedeckého bádania</MudText>
            <MudText Typo="Typo.body1" Class="break-lines">@_thesis.ScientificProgress</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Druh výskumu</MudText>
            <MudText Typo="Typo.body1">@_thesis.ResearchType</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Výskumná úloha, ktorej súčasťou bude riešená téma</MudText>
            <MudText Typo="Typo.body1" Class="break-lines">@_thesis.ResearchTask</MudText>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h6">Doterajšie výsledky riešenia na školiacom pracovisku, vrátane odkazov na dostupné zdroje</MudText>
            <MudText Typo="Typo.body1" Class="break-lines">@_thesis.SolutionResults</MudText>
        </MudStack>
    </MudStack>
    @if (!_thesis.IsApproved)
    {
        <AuthorizeView Roles="Admin, Učiteľ, Externista">
            <Authorized>
                <MudStack Class="mt-5">
                    @if (_thesis.Comments?.Count() > 0)
                    {
                        <MudText Typo="Typo.h6">Komentáre</MudText>
                        @foreach (var comment in _thesis.Comments)
                        {
                            <MudPaper Class="pa-2">
                                <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                                    <div>
                                        <MudText Typo="Typo.h6">@comment.Reviewer.DisplayName</MudText>
                                        <MudText Typo="Typo.body1">@comment.Text</MudText>
                                    </div>
                                    <AuthorizeView Roles="Admin" Context="editContext">
                                        <Authorized>
                                            <div>
                                                <MudIconButton Size="@Size.Medium" Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteComment(comment))" />
                                                <MudIconButton Size="@Size.Medium" Color="Color.Info" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => UpdateComment(comment))" />
                                            </div>
                                        </Authorized>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="Externista" Context="editContext">
                                        <Authorized>
                                            @if (_currentUserId?.Equals(comment.ReviewerId) == true)
                                            {
                                                <div>
                                                    <MudIconButton Size="@Size.Medium" Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteComment(comment))" />
                                                    <MudIconButton Size="@Size.Medium" Color="Color.Info" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => UpdateComment(comment))" />
                                                </div>
                                            }
                                        </Authorized>
                                    </AuthorizeView>
                                </MudStack>
                            </MudPaper>
                        }
                    }
                    <AuthorizeView Roles="Externista" Context="reviewerContext">
                        <Authorized>
                            <MudTextField @bind-Value="_commentText" Label="Komentár" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="PostComment"></MudTextField>
                        </Authorized>
                    </AuthorizeView>
                </MudStack>
            </Authorized>
        </AuthorizeView>
    }
}

@code {
    [Parameter]
    public string ThesisGuid { get; set; }

    private Thesis? _thesis;
    private string? _currentUserId;

    private string _commentText;

    protected override async Task OnInitializedAsync()
    {
        _thesis = await UnitOfWork.Theses.GetByGuidAsync(ThesisGuid);
        if (_thesis is null) NavigationManager.NavigateTo("/notfound");

        _currentUserId = await UsersService.GetCurrentUserIdAsync();
    }

    private async Task UpdateComment(Comment comment)
    {
        var parameters = new DialogParameters<EditCommentDialog> { { x => x.Comment, comment } };
        var dialog = await DialogService.ShowAsync<EditCommentDialog>("Uprav komentár", parameters, new() { FullWidth = true, MaxWidth = MaxWidth.Medium });
        var result = await dialog.Result;

        if (result.Canceled) return;

        var updatedComment = result.Data as Comment;
        await UnitOfWork.Comments.UpdateAsync(updatedComment.Id, updatedComment);
        await UnitOfWork.CompleteAsync();
        _thesis = await UnitOfWork.Theses.GetByGuidAsync(ThesisGuid);
    }

    private async Task PostComment()
    {
        Comment comment = new Comment
        {
            Text = _commentText,
            ThesisId = _thesis.Id,
            ReviewerId = await UsersService.GetCurrentUserIdAsync()
        };
        await UnitOfWork.Comments.AddAsync(comment);
        await UnitOfWork.CompleteAsync();
        _commentText = string.Empty;
        _thesis = await UnitOfWork.Theses.GetByGuidAsync(ThesisGuid);
    }

    private async Task DeleteThesis(Thesis thesis)
    {
        bool? result = await DialogService.ShowMessageBox("Vymazať dizertačnú tému", "Naozaj si prajete vymazať zvolenú dizertačnú tému?", "Áno", "Nie");
        if (result == false) return;

        if (thesis.IndividualPlan is not null)
        {
            await UnitOfWork.IndividualPlans.DeleteAsync(thesis.IndividualPlan.Id);
        }
        await UnitOfWork.Theses.DeleteAsync(thesis.Id);
        await UnitOfWork.CompleteAsync();
        NavigationManager.NavigateTo("/theses");
    }

    private async Task DeleteComment(Comment comment)
    {
        await UnitOfWork.Comments.DeleteAsync(comment.Id);
        await UnitOfWork.CompleteAsync();
        _thesis = await UnitOfWork.Theses.GetByGuidAsync(ThesisGuid);
    }
}