@page "/theses"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using PhDManager.Data
@using PhDManager.Models
@using PhDManager.Services
@using PhDManager.Services.IRepositories

@inject IUnitOfWork UnitOfWork
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Theses</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Dizertačné témy</MudText>

<div class="d-flex justify-space-between">
    <MudText Typo="Typo.h6">Dizertačné témy</MudText>
    <div class="d-flex gap-1">
        <AuthorizeView Roles="Teacher, Admin">
            <Authorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/theses/add">Pridať tému</MudButton>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Teacher, Admin, Reviewer">
            <Authorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/theses/review">Potvrdiť tému</MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
<MudGrid>
    @if (Theses is not null)
    {
        @foreach (var thesis in Theses)
        {
            <MudItem xs="12" md="6">
                <MudPaper Class="pa-2">
                    <MudText Typo="Typo.h6">@thesis.Title</MudText>
                    <MudText Typo="Typo.body2">@thesis.Description</MudText>
                    <div class="d-flex justify-space-between mt-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"/theses/{thesis.Guid}")">Detail</MudButton>
                        <AuthorizeView Roles="Admin, Teacher">
                            <Authorized>
                                <div class="d-flex gap-1">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"/theses/{thesis.Guid}/edit")">Uprav</MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => DeleteThesis(thesis.Id))">Vymaž</MudButton>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>

@code {
    IEnumerable<Thesis>? Theses;

    protected override async Task OnInitializedAsync()
    {
        Theses = (await UnitOfWork.Theses.GetAllAsync()).Where(t => t.IsApproved).ToArray();
    }

    private async Task DeleteThesis(int id)
    {
        await UnitOfWork.Theses.DeleteAsync(id);
        await UnitOfWork.CompleteAsync();
        Theses = Theses?.Where(t => t.Id != id);
    }
}
