@page "/theses/review"

@using Microsoft.AspNetCore.Authorization
@using PhDManager.Models
@using PhDManager.Services.IRepositories

@rendermode InteractiveServer

@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin, Učiteľ, Externista")]

<PageTitle>Dizertačné témy čakajúce na potvrdenie</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Dizertačné témy čakajúce na potvrdenie</MudText>

<MudGrid>
    @if (_theses is not null)
    {
        @foreach (var thesis in _theses)
        {
            <MudItem xs="12" md="6">
                <MudPaper Class="pa-2">
                    <MudText Typo="Typo.h6">@thesis.Title</MudText>
                    <MudText Typo="Typo.body2"><b>Školiteľ: </b> @thesis.Supervisor.DisplayName</MudText>
                    <MudText Typo="Typo.body2"><b>Študijný program: </b> @thesis.StudyProgram.Name</MudText>
                    <div class="d-flex justify-space-between mt-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"/theses/{thesis.Guid}")">Detail</MudButton>
                        <AuthorizeView Roles="Admin, Externista">
                            <Authorized>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => AcceptThesis(thesis))">Potvrdiť</MudButton>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>

@code {
    private IEnumerable<Thesis>? _theses;

    protected override async Task OnInitializedAsync()
    {
        var allTheses = await UnitOfWork.Theses.GetAllAsync();

        _theses = allTheses?.Where(t => !t.IsApproved).ToArray();
    }

    private async Task AcceptThesis(Thesis thesis)
    {
        thesis.IsApproved = true;
        await UnitOfWork.Theses.UpdateAsync(thesis.Id, thesis);
        await UnitOfWork.CompleteAsync();
        _theses = _theses?.Where(t => t.Id != thesis.Id);
    }
}
