@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using PhDManager.Data
@using MudBlazor.StaticInput

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length == 0)
{
    <MudAlert Variant="Variant.Text" Severity="Severity.Warning">There are no external authentication services configured.</MudAlert>
    <MudText Typo="Typo.body1" Class="pt-4">
        See <MudLink Target="_blank" Href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</MudLink>
        about setting up this ASP.NET application to support logging in via external services
    </MudText>
}
else
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in externalLogins)
                {
                    <MudStaticButton Variant="Variant.Filled" type="submit" class="btn btn-primary" name="provider" value="@provider.Name">
                        <img src="@GetProviderIcon(provider.Name)" class="provider-icon mr-2" alt="@provider.DisplayName icon" />
                        @provider.DisplayName
                    </MudStaticButton>
                }
            </p>
        </div>
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }

    private string GetProviderIcon(string providerName)
    {
        return providerName switch
        {
            "Google" => "https://img.icons8.com/?size=100&id=17949&format=png&color=000000",
            "Microsoft" => "https://img.icons8.com/?size=100&id=22989&format=png&color=000000",
            "GitHub" => "https://img.icons8.com/?size=100&id=62856&format=png&color=000000",
            _ => "https://img.icons8.com/?size=100&id=74441&format=png&color=000000"
        };
    }
}
